@model MVC_EAD_RabbitMQ.Models.Article

<div>
    <h3>
        Tiêu đề:
    </h3>
    @Model.Title
</div>

<div>
    <h3>
        Mô tả:
    </h3>
    @Model.Description
</div>

<div>
    <h3>
        Ảnh:
    </h3>
    @Model.Image
</div>

<div>
    @Html.ActionLink("Save Link", "SaveLink")
</div>